*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  height: 100%;
  background-color: #666666;
  scroll-behavior: smooth;
}
.c-site-header{
    width: 100%;
  border-radius:0px 9px;
  background-color:#dce0e3;
  margin-left: auto;
  margin-right: auto;
  display:inline;
}
.menu-btn{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: all .5s ease-in-out;
  
}
.menu-btn-burger{
  width: 20px;
  height: 3px;
  background: #132129;
  border-radius: 5px;
  transition: all .5s ease-in-out;
}
.menu-btn-burger::before,
.menu-btn-burger::after{
  content: '';
  position: absolute;
  width: 20px;
  height: 3px;
  background: #132129;
  border-radius: 5px;
  transition: all .5s ease-in-out;
}
.menu-btn-burger::before{
  transform: translateY(-6px);
}
.menu-btn-burger::after{
  transform: translateY(6px);
}
.menu-btn.open .menu-btn-burger{
  transform: translateX(-30px);
  background: transparent;
  box-shadow: none;
}
.menu-btn.open .menu-btn-burger::before{
  transform: rotate(45deg) translate(22px, -22px);
}
.menu-btn.open .menu-btn-burger::after{
  transform: rotate(-45deg) translate(22px, 22px)  ;
}

.dropbtn {
  background-color:#132129;
  padding: 16px;
  font-size: 16px;
  border: none;
  border-radius:20%;
  cursor: pointer;  
}
.dropdown {
  position: relative;
  display: inline-block;
  padding:10px;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {background-color: #ddd;}
.dropdown:hover .dropdown-content {display: block;}
.nightmode{
  background-color:#132129;
  color: white;
  display: flex-inline;
}
.head1{
   background-color:#132129;
  border-radius:30px 80px;
  width:70%;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 5px 10px;
}
h1{
  font-family:Sofia, Garamond;
  text-align:center;
  margin-left: auto;
  margin-right: auto;
  color:white;   
}
img {
  border-radius: 50%;
  outline:2px solid #dce0e3;
  max-width: 100%;
  max-height: 100%; 
  filter: grayscale(100%);
}
.mypic{
  height: 200px;
  width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.mypic:hover{
  border-radius: 50%;
  animation: shadowmove 5s infinite;
}
@keyframes shadowmove {
  40% {box-shadow: 10px 20px 25px black;}
   75% {box-shadow: -10px -5px 25px black;}
}
.aboutme{
  width: 70%;
  height:auto;
  background-color:#132129;
  border-radius: 60px 30px;
  margin-left: auto;
  margin-right: auto;
  word-wrap: break-word;
  box-shadow: 5px 10px;
}
.aboutme2{
  font-family:arial;
  font-weight: bold;
  line-height: 1.6;
  color:#dce0e3;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  padding-top:10px;
  padding-bottom:10px;
}
.video{
  margin-left: auto;
    margin-right: auto;
    display: block
}
iframe{
  width:540;
  height:315;
  text-align:center;
  margin:auto;
  display: block;
  border-style:none;
}
.c-site-footer{
  bottom: 0;
  background: #444444;
  height: 100px;
  font-family: 'Open Sans', sans-serif;
  color: #FFFFFF;
  
  
}
.socialbtns a{
  text-decoration: none;
  width: 37px;
  height: 37px;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 17px;
  color: white;
  cursor: pointer;
  margin-right: 20px;
  background-color:rgba(255, 255, 255, 0.1);;
  margin-bottom: 10px;
}
.socialbtns a:hover{
  transform: scale(1.5);
  background: #132129;
  transition: .4s;
}
.footer-text{
  font-size: 12px;
  text-align: center;
}