*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
html,
body {
  margin: 0;
  height: 100%;
  background-color: #666666;
  scroll-behavior: smooth;
}
.c-site-header{
    position: inherit;
}
.menu-btn{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  cursor: pointer;
  transition: all .5s ease-in-out;
  
}
.menu-btn-burger{
  width: 40px;
  height: 6px;
  background: #132129;
  border-radius: 5px;
  transition: all .5s ease-in-out;
}
.menu-btn-burger::before,
.menu-btn-burger::after{
  content: '';
  position: absolute;
  width: 40px;
  height: 6px;
  background: #132129;
  border-radius: 5px;
  transition: all .5s ease-in-out;
}
.menu-btn-burger::before{
  transform: translateY(-10px);
}
.menu-btn-burger::after{
  transform: translateY(10px);
}
.menu-btn.open .menu-btn-burger{
  transform: translateX(-30px);
  background: transparent;
  box-shadow: none;
}
.menu-btn.open .menu-btn-burger::before{
  transform: rotate(45deg) translate(22px, -22px);
}
.menu-btn.open .menu-btn-burger::after{
  transform: rotate(-45deg) translate(22px, 22px)  ;
}

.head1{
  display: block;
  background-color:#132129;
  border-radius:30px 80px;
  width:70%;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 5px 10px;
}
h1{
  font-family:Sofia, Garamond;
  text-align:center;
  margin-left: auto;
  margin-right: auto;
  color:white;   
}
img {
  display: block;
  border-radius: 50%;
  outline:2px solid #dce0e3;
  max-width: 100%;
  max-height: 100%; 
  filter: grayscale(100%);
}
.mypic{
  height: 200px;
  width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.mypic:hover{
  border-radius: 50%;
  animation: shadowmove 5s infinite;
}
@keyframes shadowmove {
  40% {box-shadow: 10px 20px 25px black;}
   75% {box-shadow: -10px -5px 25px black;}
}
.aboutme{
  display: block;
  width: 70%;
  height:auto;
  background-color:#132129;
  border-radius: 60px 30px;
  margin-left: auto;
  margin-right: auto;
  word-wrap: break-word;
  box-shadow: 5px 10px;
}
.aboutme2{
  font-family:arial;
  font-weight: bold;
  line-height: 1.6;
  text-align: justify;
  color:#dce0e3;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  padding-top:10px;
  padding-bottom:10px;
}
.video{
  margin-left: auto;
  margin-right: auto;
  display: block
}
iframe{
  width:540;
  height:315;
  text-align:center;
  margin:auto;
  display: block;
  border-style:none;
}
.c-site-footer{
  bottom: 0;
  background: #444444;
  height: 100px;
  font-family: 'Open Sans', sans-serif;
  color: #FFFFFF;
  
  
}
.socialbtns{
  display: flex;
  justify-content: center;
  padding-top: 10px;
}
.socialbtns a{
  text-decoration: none;
  width: 37px;
  height: 37px;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 17px;
  color: white;
  cursor: pointer;
  margin-right: 20px;
  background-color:rgba(255, 255, 255, 0.1);;
  margin-bottom: 10px;
}
.socialbtns a:hover{
  transform: scale(1.5);
  background: #132129;
  transition: .4s;
}
.footer-text{
  font-size: 12px;
  text-align: center;
}